<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartcommunities.xdengue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:icon="@drawable/xdenguicon57x57"
        android:theme="@style/CustomTheme"
        android:debuggable="true"
        android:name="com.smartcommunities.xdengue.XdengueGlobalState">
        <activity
            android:name=".XdengueActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="homeActivity" android:launchMode="standard"></activity>
        <activity android:name="aboutUsActivity" android:launchMode="standard"></activity>
        <activity android:name="preventionActivity" android:launchMode="standard"></activity>
        <activity android:name="MyPlacesActivity" android:launchMode="standard"></activity>
        <activity android:name="personalProtectionActivity" android:launchMode="standard"></activity>
        <activity android:launchMode="standard" android:name="breedingSitesActivity"></activity>
        <activity android:launchMode="standard" android:name="mozzieWipeoutActivity"></activity>
        <activity android:name="loginActivity" android:windowSoftInputMode="adjustPan" android:launchMode="standard"></activity>
        <activity android:name="registerActivity" android:launchMode="standard"></activity>
        <activity android:name="myLocationActivity" android:launchMode="standard"></activity>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name="customLogoActivity"></activity>
        <activity android:launchMode="standard" android:name="hotSpotsActivity"></activity>
        <activity android:name="newPlaceActivity" android:launchMode="standard"></activity>
        <activity android:name="newPlaceAddressActivity" android:launchMode="standard"></activity>
        <activity android:name="newPlaceMobileListActivity" android:launchMode="standard"></activity>
    </application>

</manifest>